<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @integration.url %>
</p>

<p>
  <b>Username:</b>
  <%= @integration.username %>
</p>

<p>
  <b>Password:</b>
  ********
</p>

<p>
  <b>Provider type:</b>
  <%= @integration.provider_type %>
</p>

